backend:
  name: git-gateway
  branch: main

media_folder: static/img
public_folder: /img

collections:
  - name: blog
    label: 博客
    folder: content/blog
    create: true
    slug: '{{year}}-{{month}}-{{day}}-{{slug}}'
    fields:
      - { label: '标题', name: 'title', widget: 'string' }
      - { label: '内容', name: 'body', widget: 'markdown' }
